.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.heading p {
  color: #6c757d;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

button.apple-signin {
  width: 90%;
  padding: 16px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

button.apple-signin:hover {
  background-color: #333333;
}

.forgot-password {
  text-align: left;
  margin-bottom: 10px;
}

.forgot-password a {
  color: #0073b1;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 8px 0;
  padding: 0 24px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  font-size: 14px;
  color: #6c757d;
}

form {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .login-container {
    width: 95%;
  }
}
